version: "2.1"
services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - PEERS=laptop, tv #optional
      - INTERNAL_SUBNET=10.10.10.0 #optional
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    restart: unless-stopped